/* General Styles */
body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-size: cover;
    text-align: start;
}
h1 {
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 30px;
    margin: 10px 0;
}
ul{
    font-weight: bold;
}
li{
    font-weight: bold;
}    
p{
    font-weight: bold;
}
/* Navigation Bar */
nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
    background-color: #ff6f61;
    transform: scale(1.1);
}

